<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Planning to play in winter?</h2>
                <hr class="light">
                <p class="text-faded">FlexBest helps oxygen flow to the muscles, breaking down lactic acid to prevent discomfort. Less heat change during periods of rest will help prevent cold-muscle injuries</p>
                <a href="#" class="btn btn-default btn-xl">Follow us in Social Media</a>
            </div>
        </div>
    </div>
</section>
